<include href="views/header.html"></include>

<body>
<div class="jumbotron">
    <h2> Order a Pet</h2>
    <form method="post" action="order2">
        <label>What kind of pet would you like to order?
            <input type="text" name="pet">
        </label>
        <br>
        <label>please Select a Color:
            <select class="form-control"  name="color" id="color">
                <option > select </option>
                <repeat group="{{@colors}}" value ="{{@colorOption}}">
                    <option> {{@colorOption}}</option>
                </repeat>
            </select>
        </label>
        <br>
        <input class="btn btn-primary active" type="submit" value="Place Order">
    </form>
    </div>

</body>
</html>