<include href="views/header.html"></include>

<body>
<div class="jumbotron">
<h3> Pet Specifications: </h3><br>
    <form method="post" action="summary">
        <h5>Pet Name:</h5>
        <label>
            <input type="text" name="petName" id="petName" >
        </label>

        <div>
            <h5>Pet Size:</h5>
            <label for="size" class="control-label">
                <repeat group="{{ @sizes }}" value="{{ @sizeOption }}">
                    <input type="checkbox" id="size" name = "size" value="{{ @sizeOption }}">
                    <label>{{ @sizeOption }}</label>
                </repeat>
                </input>
            </label><br>

           <h5>Pet Accessories:</h5>
            <repeat group="{{ @accessories }}" value="{{ @accessoryOption }}">
                <label><input type="checkbox" name="accessories" id = "accessories" value="{{ @accessoryOption }}"> {{ @accessoryOption }} </label><br>
            </repeat>
        </div>
        <br>
        <input class="btn btn-primary active" type="submit" value="Place Order">
    </form>
</div>
</body>
</html>